.AppContainer{
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    /* flex-direction: column; */
    width: 100svw;
    height: 100svh;

}
.VideoPlayerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* 16:9 ratio */
    width: var(--centerWidth);
    height: var(--centerHeight);

    padding: 7px;
    border-radius: 10px;
    background: var(--gradientDefault);
}
.GradientModule{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.ControlsContainer{
    padding: 5px;
    background: var(--dark);
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
    width: var(--centerWidth);
    display: flex;
    align-items: center;
    justify-content: space-between;
}